<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="true">
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="true">
                <remove name="WebDAVModule"/>
            </modules>
            <directoryBrowse enabled="false" />
            <aspNetCore processPath="dotnet" arguments=".\bin\Debug\net5.0\layoutlovers.Web.Host.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
                <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
                </environmentVariables>
            </aspNetCore>
            <security>
                <requestFiltering>
                    <!-- Measured in Bytes -->
                    <requestLimits maxAllowedContentLength="1073741824" />
                    <!-- 1 GB-->
                </requestFiltering>
            </security>
            <handlers>                
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
        </system.webServer>
    </location>
</configuration>
<!--ProjectGuid: 9FC37C62-2105-4D32-9724-7323B959504B-->